.service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 32rem;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;

    .service-body,
    .service-footer {
        padding: 0 0.75rem 0.75rem 0.75rem;
    }

    .service-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .service-description {
        margin-bottom: 1rem;
    }

    .service-example {
        position: relative;
        display: block;
        max-width: 100%;
        margin-bottom: 1rem;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    .service-bullets {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .service-button {
        width: 100%;
        background-color: #111;
        color: white;
        font-size: 1.125rem;
        font-weight: 700;
        padding-block: 0.5rem;
        border-radius: 4px;
    }
}
