#stack {
    > div {
        display: flex;
        gap: 0.325rem;
        flex-shrink: 0;
        background: linear-gradient(
            90deg,
            var(--color-dark3) 0%,
            var(--color-dark4) 50%,
            var(--color-dark3) 100%
        );
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
        border-radius: 8px;
        border: 1px solid var(--color-dark4);
        filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.15));
    }
}

.tech {
    position: relative;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.125rem;

    @media (max-width: 768px) {
        width: 2.5rem;
        height: 2.5rem;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .tech-name {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -110%);
        text-wrap: nowrap;
        pointer-events: none;
        color: #fff;
        font-weight: 700;
        border-radius: 2px;
        transition: opacity 0.3s ease-in-out;
    }
}

.tech:hover {
    .tech-name {
        opacity: 1;
    }
}
