#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    #name-field {
        opacity: 0;
        pointer-events: none;
    }

    #email-field {
        font-size: 1.125rem;
        width: 60%;
        margin-bottom: 0.5rem;

        @media (max-width: 768px) {
            width: 100%;
        }

        input {
            width: 100%;
            padding: 0.5rem 0.75rem;
            font-size: 1.125rem;
            margin-top: 0.25rem;
        }
    }

    #message-field {
        width: 60%;
        margin-inline: auto;
        margin-bottom: 1rem;
        font-size: 1.125rem;

        @media (max-width: 768px) {
            width: 100%;
        }

        textarea {
            display: block;
            width: 100%;
            margin-top: 0.25rem;
            height: 10rem;
            font-size: 1.125rem;
        }
    }

    #contact-result {
        display: none;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    #contact-result.success {
        color: var(--color-darkgreen);
    }

    #contact-result.fail {
        color: var(--color-red);
    }

    #contact-loader {
        display: none;
        width: 1.875rem;
        height: 1.875rem;
        border-inline: 2px solid #111;
        border-bottom: 2px solid #111;
        border-top: 2px solid #ccc;
        border-radius: 100%;
        animation: spin 1s linear infinite;
    }
}
