@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply dark:bg-slate-950 dark:text-neutral-50;
    }
}

@layer utilities {
    .glow {
        @apply relative p-1
    }

    .glow-sm {
        @apply p-0.5
    }
    
    .glow::before, .glow::after {
        content: '';
        z-index: -1;
        border-radius: inherit;
        @apply absolute top-0 left-0 size-full animate-border-spin;
    }

    .glow::before {
        filter: blur(1.5rem);
    }

    .glow-sm::before {
        filter: blur(0.15rem);
        transition: filter 0.2s ease-in-out;
    }

    .glow-sm:hover::before {
        filter: blur(0.25rem);
    }

    .glow-rgb::before, .glow-rgb::after {
        background-image: conic-gradient(rgb(244 63 94), rgb(16 185 129), rgb(14 165 233), rgb(244 63 94));
    }

    .glow-white-blue::before, .glow-white-blue::after {
        background-image: conic-gradient(#fff, rgb(56 189 248), #fff);
    }
}