@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @property --glow-angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes glow-spin {
        from {
            --glow-angle: 0deg;
        }

        to {
            --glow-angle: 360deg;
        }
    }

    body {
        @apply dark:bg-slate-950 dark:text-neutral-50 font-main;
    }

    header {
        background-position: 0 35%;
    }
}

@layer utilities {
    .glow {
        @apply relative p-1;
    }

    .glow-sm {
        @apply p-0.5;
    }
    
    .glow::before, .glow::after {
        content: '';
        z-index: -1;
        border-radius: inherit;
        animation: 3.5s glow-spin linear infinite;
        @apply absolute top-0 left-0 size-full;
    }

    .glow::before {
        filter: blur(1.5rem);
    }

    .glow-sm::before {
        filter: blur(0.125rem);
        transition: filter 0.2s ease-in-out;
    }

    .glow-sm:hover::before {
        filter: blur(0.25rem);
    }

    .glow-rgb::before, .glow-rgb::after {
        background-image: conic-gradient(from var(--glow-angle), rgb(244 63 94), rgb(16 185 129), rgb(14 165 233), rgb(244 63 94));
    }

    .glow-white-blue::before, .glow-white-blue::after {
        background-image: conic-gradient(from var(--glow-angle), rgb(56 189 248), #fff, rgb(56 189 248));
    }
}