@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark: #051923;
        --light: #E9FFF9;
    }

    @property --glow-angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes glow-spin {
        from {
            --glow-angle: 0deg;
        }

        to {
            --glow-angle: 360deg;
        }
    }

    body {
        @apply dark:bg-dark dark:text-light bg-light text-dark font-main;
    }

    header {
        background-image: linear-gradient(to bottom, transparent 60%, var(--dark)), url("/header-bg.gif");
        background-position: 0 35%;
    }
}

@layer utilities {
    .glow {
        @apply relative p-1;
    }

    .glow-sm {
        @apply p-0.5;
    }
    
    .glow::before, .glow::after {
        content: '';
        z-index: -1;
        border-radius: inherit;
        animation: 3.5s glow-spin linear infinite;
        @apply absolute top-0 left-0 size-full;
    }

    .glow::before {
        filter: blur(1.5rem);
    }

    .glow-sm::before {
        filter: blur(0.05rem);
        transition: filter 0.2s ease-in-out;
    }

    .glow-sm:hover::before {
        filter: blur(0.2rem);
    }

    .glow-rgb::before, .glow-rgb::after {
        background-image: conic-gradient(from var(--glow-angle), rgb(244 63 94), rgb(16 185 129), rgb(14 165 233), rgb(244 63 94));
    }

    .glow-white-blue::before, .glow-white-blue::after {
        background-image: conic-gradient(from var(--glow-angle), #6699ee, #fff, #6699ee);
    }
}